<router-outlet></router-outlet>

<div class="navbar">
    <select (change)="setAlgo($event.target.value)"> 
        <option value="">Choose an algorithm</option>
        <option value="linear">Linear</option>
        <option value="binary">Binary</option>
        <option value="jump">Jump</option>
    </select>

    <button (click)="runAlgo()">Run</button>
</div>

<p class="notice">Click on any box in the grid to set it as target.</p>

<div id="grid">
    <div class="arrVal" *ngFor="let v of _array" [class.searched]="checkActive(v)" (click)="setTarget(v)" [class.target]="v == target" [class.found]="v == foundItem">
    </div>
</div>


