$primary: lightgrey;
$accent: grey;

.navbar{
    display: flex;
    padding: 10px 5em;
    height: 50px;
    justify-content: center;
    
    select{
        background: transparent;
        border: 1px solid $accent;
        border-radius: 10px;
        padding:0 2.5em;
        color: $accent;

        &:focus{
            outline: none;
        }
    }

    button{
        margin: 0 6px;
        background: transparent;
        border: 1px solid $accent;
        border-radius: 10px;
        padding: 0 2.5em;
        color: $accent;
        transition: .3s;
        cursor: pointer;

        &:hover{
            background-color: $accent;
            color: $primary;
        }

        &:focus{
            outline: none;
            background-color: $accent;
            color: $primary;
        }
    }
}

.notice{
    text-align: center;
}

.exectime{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 1.15rem;
    margin-top: 20px;

    .time{
        color: purple;
    }
}

#grid{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;

    .arrVal{
        display: flex;
        margin: 0.5px;
        justify-content: center;
        align-items: center;
        padding:5px;
        text-align: center;
        width: 10px;
        height: 10px;
        overflow: hidden;
        border: 1px solid grey;
        cursor: pointer;

        &:hover{
            background-color: lightblue;
        }

        &.searched{
            animation-name: pulse;
            animation-duration: 0.5s;
            background-color: grey;
        }

        &.target{
            background-color: red;
        }

        &.found{
            background-color: blue;
        }

        @keyframes pulse {
            0% {background-color: red}
            50% {background-color: grey}
        }
    }
}